<div class="container">
    <div class="container">
        <h2>Set Alarm</h2>
        <p-button label="Add Alarm" [disabled]="alarmBtnClick || editAlarmFlag" (onClick)="onAlarmBtnClick($event)">
        </p-button>
        <a [ngStyle]="{float:'right'}" routerLink="/home" routerLinkActive="active">Home
        </a>
    </div>
    <div class="container set-alarm-wrapper" *ngIf="alarmBtnClick || editAlarmFlag">

        <div class="form-group">
            <label for="time">
                <h5>Time:</h5>
            </label>
            <span class="seprator"></span>
            <p-dropdown [options]="hours" appendTo="body" placeholder="Select Hour"
                [(ngModel)]="newAlarm.alarmTime.hour">
            </p-dropdown>
            <span class="seprator"><strong>:</strong></span>
            <p-dropdown [options]="minutes" appendTo="body" placeholder="Select Minutes"
                [(ngModel)]="newAlarm.alarmTime.min">
            </p-dropdown>
            <span class="seprator"></span>
            <p-dropdown [options]="amPm" appendTo="body" [(ngModel)]="newAlarm.alarmTime.am_pm"></p-dropdown>
        </div>
        <div class="form-group">
            <label for="time">
                <h5>Snooze:</h5>
            </label>
            <span [ngStyle]="{'margin-left':'5px'}">
                <p-checkbox [(ngModel)]="newAlarm.isSnooze" binary="true"></p-checkbox>
            </span>

        </div>

        <div class="form-group">

            <label for="time" [ngStyle]="{float:'left','padding-top':'5px','margin-right':'5px'}">
                <h5>On Days:</h5>
            </label>
            <span>
                <p-multiSelect [styleClass]="'days-dd'" [options]="noOfDays" [(ngModel)]="newAlarm.onDays">
                </p-multiSelect>
            </span>

        </div>

        <p-button [label]="editAlarmFlag?'Update Alarm':'Set Alarm'" [styleClass]="'ui-button-raised'"
            [disabled]="!newAlarm.alarmTime.hour || !newAlarm.alarmTime.min || !newAlarm.onDays.length"
            (onClick)="onSetAlarmClick($event)">
        </p-button>

        <p-button class='custom-btn' label="Cancel" (onClick)="resetAlarm(); alarmBtnClick=false"
            [styleClass]="'ui-button-raised ui-button-secondary '"></p-button>

    </div>
    <div class="container alarm-list-wrapper">
        <ng-container *ngIf='alarmListState.length'>
            <h3>Existing Alarm</h3>
            <p-table [value]="alarmListState">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Time</th>
                        <th>Days</th>
                        <th>Action</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-alarm let-index="rowIndex">
                    <tr>
                        <td [ngClass]="{'disable':(alarm.status === alarmStatusEnum.INACTIVE || alarm.status === alarmStatusEnum.STOPPED || alarm.status === alarmStatusEnum.SNOOZED)}">
                            {{alarm.alarmTime.hour+':'+alarm.alarmTime.min+' '+alarm.alarmTime.am_pm}}</td>
                        <td [ngClass]="{'disable':(alarm.status === alarmStatusEnum.INACTIVE || alarm.status === alarmStatusEnum.STOPPED || alarm.status === alarmStatusEnum.SNOOZED)}">
                            {{alarmService.getAlarmStatus(alarm)}}</td>
                        <td>
                            <p-button class='custom-btn' icon="pi pi-power-off"
                                [label]="alarm.status === alarmStatusEnum.ACTIVE?'Off':'On'"
                                (onClick)="changeStatus(alarm)">
                            </p-button>
                            <p-button class='custom-btn' icon="pi pi-pencil" (onClick)="editAlarm(alarm,index)">
                            </p-button>
                            <p-button class='custom-btn' icon="pi pi-trash" (onClick)="deleteAlarm(alarm,index)">
                            </p-button>

                        </td>
                        <td [ngClass]="{'disable':(alarm.status === alarmStatusEnum.INACTIVE || alarm.status === alarmStatusEnum.STOPPED || alarm.status === alarmStatusEnum.SNOOZED)}">{{alarm.status}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </ng-container>
        <ng-container *ngIf='!alarmListState.length'>
            <div class="alert alert-primary" role="alert">
                No Alarm Added
            </div>
        </ng-container>
    </div>
</div>