.set-alarm-wrapper {
  margin-bottom: 20px;
  margin-top: 10px;
  .seprator {
    margin: 0px 5px;
  }
}
.on-days-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}
td {
  &.disable {
    opacity: 0.5;
  }
}
.custom-btn {
  margin: 0px 5px;
}
.alarm-list-wrapper {
  margin-top: 10px;
}
